.wrapper {
  width: 100%;
}

.searchContainer {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchInput {
  width: max(15%, 100px);
  padding: 8px;
  border: 1px solid #444;
  border-radius: 8px;
  background-color: #222;
  color: #e0e0e0;
}

.checkboxLabel {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin: 4px;
}

.checkboxLabel input[type="checkbox"] {
  width: 16px;
  height: 16px;
  accent-color: #1e88e5;
  cursor: pointer;
}

.checkboxLabel span {
  display: none;
  position: absolute;
  bottom: calc(100% + 6px);
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(34, 34, 34, 0.95);
  color: #e0e0e0;
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 14px;
  z-index: 10;
  pointer-events: none;
  border: #e0e0e0 1px solid;
}

.checkboxLabel:hover span {
  display: block;
}

.cryptoMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.menuItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  border: 1px solid transparent;
  transition: border 0.2s, background-color 0.2s;
  background-color: #1a1a1a;
  border-radius: 6px;
  text-align: center;
  width: 100px;
}

.menuItem:hover {
  border: 1px solid #444;
  background-color: #222;
}

.selected {
  border: 1px solid #1e88e5;
  background-color: #1e1e1e;
}

.cryptoLogo {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}
