.tooltipWrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip {
  display: none;
  position: absolute;
  bottom: calc(100% + 6px);
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(34, 34, 34, 0.95);
  color: #e0e0e0;
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 14px;
  z-index: 1010;
  pointer-events: none;
  border: 1px solid #e0e0e0;
}

.tooltipWrapper:hover .tooltip {
  display: block;
}

.statButton {
  background: none;
  border: none;
  padding: 4px 8px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.statistics {
  margin-bottom: 8px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.statValue {
  display: block;
  font-weight: bold;
  font-size: 16px;
  padding: 8px;
  border: #444 1px solid;
  color: #00e5ff;
}

.cryptoValue {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #00ff99;
}

.cryptoValueNegative {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  color: red;
}